/* start global rules */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

}
body{
    font-family: 'Cairo', sans-serif;
}

/*all variables are defined in the root*/
:root{
/* syntax of the variable (--name, value) */
    /* primary colors */
--prim1:#5B2579;
--prim2:#923DC3;
--neutral-color:#023047;
--neutral-color2:#f9f5fd;
--main-padding-top:100px;
--main-padding-bottom:100px;


    /* secondary colors */
--sec1:#FFB703;
--sec2: #FB8500;
--main-transition-duration:0.3s;

}


html{
    scroll-behavior: smooth;
}

/* removing the decorations of all non-ordered lists (uls) */
ul{
    list-style: none;
    margin:0px;
    padding:0px;
}

a{
    text-decoration: none;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small screen like mobiles */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium like ipads and small laptops*/
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large like large laptops */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }


.main-title{
    text-transform: uppercase;
    margin: 40px auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition-duration)
    
}


.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--sec2);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before{
    left:-30px;
}
.main-title::after{
    right:-30px;
}


.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
 }
@keyframes left-move{
    50%{
        left:0;
        width:12px;
        height:12px;
    }
    100%{
        left:0;
        width:50%;
        height:100%;
        border-radius:0;
    }

}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }


@keyframes right-move{
    50%{
        right:0;
        width:12px;
        height:12px;
    }
    100%{
        right:0;
        width:50%;
        height:100%;
        border-radius:0;
    }

}

/* end global rules */




/* START HEADER */
.header{
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #ddd;

}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
}

.header .main-nav{ 
 display:flex;
}

/* margin auto to fit the content in the middle in the mobile */
@media(max-width: 767px){
    .header .main-nav{
    margin:auto;
    }
    }
.header .logo{ 
    height: 72px;
    font-size: 26px;
    color: var(--prim1);
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}



/* fitting the logo for the mobile to make the website responsive */
@media(max-width: 767px){
.header .logo{
width:100%;
height:60px;
}
}





.header .main-nav > li > a{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position:relative;
    color:var(--prim1);
    padding: 0 30px;
    transition: var(--main-transition-duration);
    overflow: hidden;
    font-weight:500;
}



@media(max-width: 767px){
    .header .main-nav>li>a{
    padding:10px;
    font-size: 13px;
    height: 5px;
    margin-bottom: 5px;

    }
    }

.header .main-nav > li > a::before{
  content:"";
  position:absolute;
  width:100%;
  background-color:var(--prim2);
  height:4px;
  top:0;
  left: -100%;
 
}
.header .main-nav > li > a:hover{
    color:var(--prim2);
    background-color:#fafafa;
}
.header .main-nav > li > a:hover::before{
    left:0%;
    transition:var(--main-transition-duration)
}


.header .container .main-nav .mega-menu{
    width: fit-content;
    position: absolute;
    left: 505px;
    background-color: white;
    padding: 30px;
    border-bottom: 3px solid var(--prim2);
    z-index:-1;
    opacity: 0;
    display: flex;
    gap: 40px;
    top: calc(100% + 15px);  
    transition: top var(--main-transition-duration), opacity var(--main-transition); 
}



.header .container .main-nav> li .otherlinks:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

.header .container .mega-menu .links li{
    position:relative;
}
.header .container .mega-menu .links li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:var(--neutral-color2);
    z-index: 100;
    transition: var(--main-transition-duration);
}   
.header .container .mega-menu .links li:hover::before{
    width:100%;

}
/* the line the appear below thw links */
.header .container .mega-menu .links li:not(:last-child){
  border-bottom:1px solid #923dc32e;
}



.header .container .mega-menu .links li a{

    display: inline-block;
    padding: 13px;
    font-size: 18px;
    font-weight: bold;
}
.header .container .mega-menu .links li  i{
    
 margin-right: 10px;
}

/* END HEADER */

/* START LESSONS */
/* .all-lessons{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.button-container{
    margin-top: 30px;
    padding: 25px;
    
    width: fit-content;
    height: fit-content;
    position: relative;
    border: none;
    border-radius: 37px;
    box-shadow: 0 0 10px #ddd;
    
}

.lesson{
    background-color: var(--sec1);
}

.practice{
    background-color: var(--prim2);
}



.button-container .box .num{
    position: absolute;
    left: 15px;
    top: 7px;
    font-size: 30px;
    color: navajowhite;
    
}

.button-container .box .icon>img{
    width: 100px;
    margin-bottom: 15px;
    
}


.button-container .box .lesson-num{
    color:var(--neutral-color);
    border-top: 1px solid var(--sec2);
    margin:auto;
} */



.all-lessons {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }

  .button-container {
      border: none;
  }
  .all-lessons .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
  }
  .all-lessons .button-container {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
  }
  .all-lessons .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  }
  .all-lessons .box img {
    width: 60%;
    margin-top:15px;
    margin-bottom: 10px;
    max-width: 100%;
  }
  .all-lessons .box .info {
    padding: 10px;
  }
  .all-lessons .lesson .box  .info h3 {
    margin: 0;
    font-size: 25px;
    color: navajowhite;
  }

  .all-lessons .practice .box  .info h3 {
    margin: 0;
    color: navajowhite;
    font-size: 25px;
  }

  .all-lessons .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e766;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .all-lessons .lesson .info i {
    color: var(--prim1);
  }
  .all-lessons .practice .info i {
    color: var(--sec2);
  }
  .all-lessons .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
  }

  .all-lessons .box .num{
    position: absolute;
    left: 15px;
    top: 7px;
    font-size: 30px;
    color: #ffdead9c;
  }
    .lesson{
        background-color: var(--sec1);
    }
    
    .practice{
        background-color: var(--prim2);
    }




/* END LESSONS */

/* START ANIMATIONS */
@keyframes moving-arrow {
    100% {
      transform: translateX(10px);
    }
}
/* END ANIMATIONS */